Practical questions

1. Write a code to create a string with your name and print it?

In [ ]:
my_name =  "Mansi"
print("My name is:", my_name)

My name is: Mansi

2. Write a code to find the length of the string "Hello World"?

In [ ]:
a = "Hello World"
len(a)

11

3. Write a code to slice the first 3 characters from the string "Python Programming"?

In [ ]:
a = "Python Programming"
a[0:3]

'Pyt'

4. Write a code to convert the string "hello" to uppercase?

In [ ]:
text = "hello"
text.upper()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [ ]:
text = "apple"
text.replace("apple", "orange")

'orange'

6. Write a code to create a list with numbers 1 to 5 and print it?

In [ ]:
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [ ]:
numbers = [1,2,3,4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [ ]:
numbers = [1,2,3,4,5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [ ]:
list = ['a', 'b', 'c', 'd']
list[1]

'b'

10. Write a code to reverse the list [10, 20, 30, 40, 50]?

In [ ]:
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

11.  Write a code to create a tuple with the elements 100, 200, 300 and print it?

In [ ]:
a = (100, 200, 300)
print(a)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?

In [ ]:
colours = ('red', 'green', 'blue', 'yellow')
colours[-2]

'blue'

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
numbers = (10, 20, 5, 15)
min(numbers)

5

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
name = ("dog", "cat", "rabbit")
name.index("cat")

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ("apple", "banana", "orange")
if "kiwi" in fruits:
    print("kiwi is in the fruits")
else:
    print("kiwi is not in the fruits")

kiwi is not in the fruits

16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
set = {"a", "b", "c"}
print(set)

{'a', 'c', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [7]:
a = {1, 2, 3, 4}
a.remove(4)
print(a)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.union(set2)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
set1.intersection(set2)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
d = {"name": "Mansi", "age": 22, "city": "Mumbai"}
print(d)

{'name': 'Mansi', 'age': 22, 'city': 'Mumbai'}

22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
d = {'name': 'John', 'age': 25}
d1 = {"country": "USA"}
d.update(d1)
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
a = {'name': 'Alice', 'age': 30}
b = a["name"]
print(b)

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d["age"]
print(d)

{'name': 'Bob', 'city': 'New York'}

25.   Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
a = {'name': 'Alice', 'city': 'Paris'}
if "city" in a:
    print("city is in the dictionary")
else:
    print("city is not in the dictionary")

city is in the dictionary

26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
dict = {"name": "Mansi", "age": 22, "city": "Mumbai"}
print(dict)

{'name': 'Mansi', 'age': 22, 'city': 'Mumbai'}

In [ ]:
tuple = (1,2,3,4,5)
print(tuple)

(1, 2, 3, 4, 5)

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
list = [5,39,29,37,89]
list.sort()
print(list)

[5, 29, 37, 39, 89]

28.  Write a code to create a list with strings and print the element at the third index

In [ ]:
list = ["sanjay", "ramesh", "mahesh", "rahul", "ajay"]
list[2]

'mahesh'

29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {'name':['mansi',1,2],'email':'mansiagarwal520@gmail.com'}
dict2 = {'city': 'mumbai'}
dict1.update(dict2)
print(dict1)

{'name': ['mansi', 1, 2], 'email': 'mansiagarwal520@gmail.com', 'city': 'mumbai'}

30. Write a code to convert a list of strings into a set.

In [ ]:
string = ["sanjay", "ramesh", "mahesh", "rahul", "ajay"]
set(string)

{'ajay', 'mahesh', 'rahul', 'ramesh', 'sanjay'}